@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 4 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 14 100% 71%;
    --secondary-foreground: 0 0% 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}